.mainIndexContainer {
  height: 30vh;
  display: flex;
  flex-direction: column;
}
button {
  color: white;
  font-size: 25px;
  font-weight: 700;
  background-color: #e71c1c;
  border: none;
  border-radius: 50px;
  padding: 15px;
  margin-top: 20px;
}
