.mainIndexContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.card1 {
  margin-bottom: 20px;
}
.card1: hover {
  transform: scale(1.5);
}
/* .card3:hover {
  margin-bottom: 30px;
  transform: scaleY(1.5) 1s linear;
} */

.card2 {
  margin-bottom: 30px;
}
.subcardContainer {
  width: 100%;
  margin: auto;
}
.subcardContainer img {
  height: 200px;
  width: 300px;
}
